.linkPost {
  text-decoration: none;
  color: black; }
  .linkPost .postItem {
    border: 1px solid;
    margin-bottom: 10px;
    padding-bottom: 5px;
    cursor: pointer; }
    .linkPost .postItem .trim-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block; }
    .linkPost .postItem .title {
      font-size: 18pt; }
    .linkPost .postItem .params {
      font-size: 12pt; }
    .linkPost .postItem .comment {
      text-decoration: underline; }
    .linkPost .postItem .arrow {
      padding: 10px 20px 0 0px; }
      .linkPost .postItem .arrow .arrow-right {
        float: right;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #a234b2; }
  .linkPost:hover {
    text-decoration: none;
    color: black; }
    .linkPost:hover .postItem .title {
      color: #700d81; }
    .linkPost:hover .postItem .arrow .arrow-right {
      border-left: 20px solid #700d81; }
